<div class="hdr">
	<div class="container">
		<tr>
			<td class="col-md-12"><h1>Task Management System</h1></td>
		</tr>
	</div>
</div>
<div class="container">
	<tr>
		<td class="col-md-12">
			<h2 class="title">
				Welcome to WEB 450's - nodebucket Project <br />
				<span class="subtitle">
				Pay close attention to the requirements, double and triple check the files for code attribution, and do not wait unitl the last minute to begin working on each item.
				</span>
			</h2>
		</td>
	</tr>
</div>
