h2 {
    text-align: center;
}

.container {
    margin-top: 25px;
}

.mat-form-field {
    width: 100%;
}

.mat-divider {
    margin-top: 1.75rem !important;
    margin-bottom: 1.75rem !important;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

label.label {
    font-weight: 700;
    padding-bottom: .5rem;
    display: block;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-checkbox {
    display: block;
}

.error {
    border: 1px solid red;
    color: red;
    padding: 25px;
    background-color: #ffe1e1;
    margin-top: 1.5rem;
}

.frm-signin {
    width: 100%;
    max-width: 350px;
}

.mat-error {
    color: #f44336;
    font-size: .8rem;
}

.frm-signin-actions button {
	width: 100%;
	box-shadow: none;
}