<div class="container">
	<div class="row">
		<div class="frm-signin">
			<form [formGroup]="formModel" (ngSubmit)="signIn()">
				<mat-card class="signin-panel frm-signin-panel">
					<h2>Sign In</h2>

					<mat-card-content class="frm-signin-body">
						<mat-form-field>
							<input type="text" matInput formControlName="employeeId" name="employeeId" placeholder="Employee ID" required>
						</mat-form-field>
						<mat-error *ngIf="formModel.get('employeeId').hasError('required') && formModel.get('employeeId').touched">The employee ID is missing.</mat-error>
						<mat-error *ngIf="formModel.get('employeeId').hasError('pattern') && formModel.get('employeeId').touched">The employee ID is not valid.</mat-error>
						<mat-error *ngIf="msg">{{ msg }}</mat-error>
					</mat-card-content>

					<mat-card-actions class="frm-signin-actions">
						<div style="text-align:right"><button mat-raised-button color="primary" type="submit">Sign In</button></div>
					</mat-card-actions>
				</mat-card><br />
			</form>
		</div>
	</div>
</div>