<div class="container">
	<h1>Tasks</h1>
	<tr>
		<td>
			<mat-dialog-content [formGroup]="form">
				<mat-form-field>
					<input matInput placeholder="Name" formControlName="text" (keydown.enter)="submit()" />
				</mat-form-field>
			</mat-dialog-content>

			<div><small *ngIf="form.controls['text'].hasError('minlength') && form.controls['text'].touched">The name must be at least three characters long.</small></div>

			<mat-dialog-actions>
				<button mat-button (click)="close()">Close</button>
				<button mat-button [disabled]="!form.valid" (click)="submit()">Saved</button>
			</mat-dialog-actions>


		</td>
		<td>

		</td>
	</tr>
</div>